<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BookKeeper</title>
</head>
<body>
<h1>BookKeeper</h1>
<a th:href="@{'/books/'}">Books</a>
<a th:href="@{'/users/'}">Users</a>
<a th:href="@{'/loans/'}">Loans</a>

<table>
    <tr>
        <th>Název knihy</th>
        <th>Autor</th>
        <th>Žánr</th>
        <th>Rok vydání</th>
    </tr>
    <tr>
        <td><a href="/detail/">kniha</a></td>
        <td>autor</td>
        <td>zanr</td>
        <td>rok</td>
    </tr>
</table>
</body>
</html>