<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seznam výpůjček</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Optional JavaScript a jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body class="bg-light">
<div class="container my-5">
    <!-- Header -->
    <div th:insert="~{fragments/admin_navbar}"></div>

    <!-- Loans Table -->
    <div class="card shadow">
        <div class="card-header bg-primary text-white text-center">
            <h5 class="mb-0">Seznam výpůjček</h5>
        </div>
        <div class="mb-3">
            <form id="search-form" method="get" action="/admin/loans/">
                <div class="row">
                    <div class="col-md-3">
                        <input type="text" name="id" class="form-control" placeholder="ID výpůjčky" th:value="${id}">
                    </div>
                    <div class="col-md-3">
                        <input type="text" name="bookTitle" class="form-control" placeholder="Název knihy" th:value="${bookTitle}">
                    </div>
                    <div class="col-md-3">
                        <input type="text" name="copy" class="form-control" placeholder="Kopie knihy" th:value="${copy}">
                    </div>
                    <div class="col-md-3">
                        <input type="text" name="email" class="form-control" placeholder="Email uživatele" th:value="${email}">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-3">
                        <select name="status" class="form-control">
                            <option value="">Všechny</option>
                            <option value="returned" th:attr="selected=${status == 'returned'}">Nevrácené</option>
                            <option value="not-returned" th:attr="selected=${status == 'not-returned'}">Vrácené</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-primary">Hledat</button>
                        <button type="button" class="btn btn-secondary ml-2" onclick="resetForm()">Vyčistit</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-body p-0">
            <table class="table table-striped mb-0">
                <thead class="thead-dark">
                <tr>
                    <th>ID Výpůjčky</th>
                    <th>Název knihy</th>
                    <th>Uživatel</th>
                    <th>Datum vypůjčení</th>
                    <th>Datum vrácení</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="loan : ${loans}">
                    <td th:text="${loan.id}"></td>
                    <td><a th:href="@{/admin/books/detail/{id}(id=${loan.printout.book.id})}" th:text="${loan.printout.book.title}"></a></td>
                    <td th:text="${loan.user.username}"></td>
                    <td th:text="${#dates.format(loan.loanDate, 'dd.MM.yyyy')}"></td>
                    <td th:text="${#dates.format(loan.returnDate, 'dd.MM.yyyy')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Footer -->
    <div th:insert="~{fragments/footer}"></div>
</div>
</body>
<script>
    function resetForm() {
        window.location.href = "/admin/loans/";  // Přesměruje na stránku bez parametrů
    }
</script>
</html>
