<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Knihovna - Login</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Optional JavaScript a jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body class="bg-light">
<div class="container d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="card shadow p-4" style="max-width: 400px; width: 100%;">
        <h1 class="text-center text-primary mb-2">BookKeeper</h1>
        <h2 class="text-center text-secondary">ZŠ škola</h2>
        <h3 class="text-center text-muted mb-4">Přihlášení</h3>
        <div class="alert alert-danger mt-4" role="alert" th:if="${param.error}">
            Přihlášení se nezdařilo. Zkontrolujte své přihlašovací údaje a zkuste to znovu.
        </div>
        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <label for="username">E-mail</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="Zadejte svůj e-mail" required>
            </div>

            <div class="form-group mt-3">
                <label for="password">Heslo</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Zadejte své heslo" required>
            </div>

            <button type="submit" class="btn btn-primary btn-block mt-4">Přihlásit se</button>
        </form>
        <!-- Oddělovací čára -->
        <div class="d-flex align-items-center mt-4">
            <hr class="flex-grow-1">
            <span class="px-2 text-muted">nebo</span>
            <hr class="flex-grow-1">
        </div>

        <!-- Tlačítko pro registraci -->
        <a href="/register" class="btn btn-outline-primary btn-block mt-3">Zaregistrovat se</a>
    </div>
</div>
</body>
</html>