<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Můj účet</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Optional JavaScript a jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body class="bg-light">



<div class="container my-5">
    <!-- Header -->
    <div class="text-center mb-4">
        <div th:insert="~{fragments/user_navbar}"></div>
    </div>

    <!-- Karta s informacemi o uživateli -->
    <div class="card shadow mb-4">
        <div class="card-header bg-primary text-white text-center">
            <h5 class="mb-0">Informace o uživateli</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Jméno:</strong> <span th:text="${user.name} + ' ' + ${user.surname}">Jméno uživatele</span></p>
                    <p><strong>Email:</strong> <span th:text="${user.username}">Email uživatele</span></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Tabulka výpůjček -->
    <div class="card shadow">
        <div class="card-header bg-primary text-white text-center">
            <h5 class="mb-0">Seznam výpůjček</h5>
        </div>
        <div class="card-body p-0">
            <table class="table table-striped mb-0">
                <thead class="thead-dark">
                <tr>
                    <th>ID Výpůjčky</th>
                    <th>Název knihy</th>
                    <th>Datum vypůjčení</th>
                    <th>Datum vrácení</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="loan : ${user.loanList}">
                    <td th:text="${loan.id}"></td>
                    <td th:text="${loan.printout.book.title}"></td> <!-- Assuming `authorId.name` contains the author's name -->
                    <td th:text="${#dates.format(loan.loanDate, 'dd.MM.yyyy')}"></td> <!-- You may need to replace `book.genre` with a more readable value -->
                    <td th:text="${#dates.format(loan.returnDate, 'dd.MM.yyyy')}"></td>
                </tbody>
            </table>
        </div>
    </div>
    <div th:insert="~{fragments/footer}"></div>
    </div>

</div>

</body>
</html>
