<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nová kniha</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Optional JavaScript a jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body class="bg-light">
<div class="container my-5">
    <div th:insert="~{fragments/admin_navbar}"></div>
    <h1 class="text-center mb-4">Nová kniha</h1>
    <form action="/loans/create" method="post" id="loanForm">
        <!-- Název knihy -->
        <div class="form-group">
            <label for="title">Název/titul knihy</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Zadejte titul" required>
        </div>


        <!-- Datum vypůjčení -->
        <div class="form-group">
            <label for="releaseDate">Rok vydání</label>
            <input type="date" class="form-control mt-2" name="releaseDate" id="releaseDate" required>
        </div>

        <!-- Tlačítko odeslat -->
        <div class="text-center">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmModal">Vytvořit knihu</button>
        </div>
    </form>
</div>

<!-- Confirm Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Potvrzení vytvoření knihy</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Zavřít">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Opravdu si přejete vytvořit tuto knihu?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zrušit</button>
                <button type="button" class="btn btn-primary" id="confirmSubmit">Potvrdit</button>
            </div>
        </div>
    </div>
</div>

<div th:insert="~{fragments/footer}"></div>
</body>
</html>
