<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vrácení výtisku</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Optional JavaScript a jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body class="bg-light">
<div class="container my-5">
    <div th:insert="~{fragments/admin_navbar}"></div>
    <h1 class="text-center mb-4">Vrácení výtisku</h1>
    <form th:action="@{'/admin/loans/return/'}" method="post" th:object="${loan}">
        <input type="hidden" name="_csrf" value="${_csrf.token}">
        <!-- ID knihy -->
        <div class="form-group">
            <label for="printoutId">ID výtisku</label>
            <input type="number" class="form-control" id="printoutId" name="printoutId" placeholder="Zadejte ID výtisku" required>
        </div>

        <!-- Datum vrácení -->
        <div class="form-group">
            <label for="returnDate">Datum vrácení</label>
            <input type="date" class="form-control mt-2" id="returnDate" name="returnDate" required>
            <button type="button" class="btn btn-secondary" id="setTodayBtn">Použít dnešní datum</button>
        </div>

        <!-- Tlačítko odeslat -->
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Vrátit výpůjčku</button>
        </div>
    </form>
</div>

<div th:insert="~{fragments/footer}"></div>

<script>
    // Nastavení dnešního data po kliknutí na tlačítko
    $('#setTodayBtn').on('click', function () {
        const today = new Date().toISOString().split('T')[0];
        $('#returnDate').val(today);  // Nastaví dnešní datum do pole
    });
</script>
</body>
</html>
